#container, #sliders {
	min-width: 310px; 
	max-width: 1000px;
	margin: 0 auto;
}
#container {
	height: 500px; 
}
#container2 {
	max-width: 1000px;
	margin: 0 auto;
}
#container2 {
	height: 500px; 
}
